@font-face {
   font-family: 'HYQiHei-70S';
   font-display: swap;
   src: url('HYQiHei-70S/font.ttf');
}
@font-face {
   font-family: 'HYQiHei-50S';
   font-display: swap;
   src: url('HYQiHei-50S/font.ttf');
}
